doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/main.css')
    block head
  body
    block content
    script(src="/javascripts/dropdown.js")
    script(src="/javascripts/main.js")
    script(src="/javascripts/modal.js")
    script(src="/javascripts/server.js")
    script(src="/javascripts/timer.js")
    script(src="/javascripts/tomato.js")