extends layout
block head
block content
    div(class='container')
        section(id='top')
            input(type='text',placeholder='username')
            input(type='text',placeholder='password')
