extends layout
block head
    link(rel='stylesheet',href='stylesheets/login.css')
block content
    div(class='container')
        section(id='top')
            form(id="login",method="post",action="/login")
                h1='Login'
                input(type='text',placeholder='username',name='username' required)
                input(type='text',placeholder='password',name='password' required)
                button(type='submit', name='submit') Submit
    script(src="/javascripts/loginform.js")